
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

        <p>Hoşgelidiniz @ViewBag.Email</p>

        <a href="/Account/LogOut">Oturum Kapat</a>

    </div>
</body>
</html>
